In [1]:
import pandas

In [2]:
df = pandas.read_csv('/mnt/2EE49533E494FE71/数据集/mnist/mnist_train.csv',header=None)

In [3]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
df.info

<bound method DataFrame.info of        0    1    2    3    4    5    6    7    8    9    ...  775  776  777  \
0        5    0    0    0    0    0    0    0    0    0  ...    0    0    0
1        0    0    0    0    0    0    0    0    0    0  ...    0    0    0
2        4    0    0    0    0    0    0    0    0    0  ...    0    0    0
3        1    0    0    0    0    0    0    0    0    0  ...    0    0    0
4        9    0    0    0    0    0    0    0    0    0  ...    0    0    0
...    ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
59995    8    0    0    0    0    0    0    0    0    0  ...    0    0    0
59996    3    0    0    0    0    0    0    0    0    0  ...    0    0    0
59997    5    0    0    0    0    0    0    0    0    0  ...    0    0    0
59998    6    0    0    0    0    0    0    0    0    0  ...    0    0    0
59999    8    0    0    0    0    0    0    0    0    0  ...    0    0    0

       778  779  780  781  782  783  784
0        0    0    0    0    0    0    0
1        0    0    0    0    0    0    0
2        0    0    0    0    0    0    0
3        0    0    0    0    0    0    0
4        0    0    0    0    0    0    0
...    ...  ...  ...  ...  ...  ...  ...
59995    0    0    0    0    0    0    0
59996    0    0    0    0    0    0    0
59997    0    0    0    0    0    0    0
59998    0    0    0    0    0    0    0
59999    0    0    0    0    0    0    0

[60000 rows x 785 columns]>

In [5]:
import matplotlib.pyplot as plt

In [6]:
row = 0
data = df.iloc[row]